@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background-color: black;
}

#lbl {
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-size: 100px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
  }
#button {
  background-color: #66ff99;
  border: solid transparent;
  border-radius: 50px;
  border-width: 0 0 4px;
  color: black;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 80px;
  outline: none;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  top: 65%;
}
#pname {
  background-color: #66ff99;
  border: solid transparent;
  border-radius: 50px;
  border-width: 0 0 4px;
  color: black;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 80px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  top: 55%;
}