@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background-color: black;
}

#box{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: 35%;
}

#lbl {
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 30px;
  }
#button {
  background-color: #66ff99;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
}
#pname {
  background-color: #66ff99;
  color: black;
  font-family: 'Orbitron', sans-serif;
}